body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #121212;
  color: #fefefe;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 1rem;
}

img {
  width: 25%;
  border-radius: 2%;
}
